<h3>Sign In</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input type="text" label="Username" [control]="authForm.get('username')"></app-input>
  <app-input type="password" label="Password" [control]="authForm.get('password')"></app-input>

  <div *ngIf="authForm.errors">
    <p *ngIf="authForm.errors.credentials" class="ui red basic label">
      Invalid username or password
    </p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
